.container {
  width: 100%;
  height: 100vh;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
    transform: translateY(-30px)
  }
  to {
 	  opacity: 1;
    transform: translateY(0)
  }
}

.formContainer {
  margin: 10rem auto;
  max-width: 400px;
  animation: fadeIn 2s;
  opacity: 1;
  background-color: #202024;
  padding: 3rem;
  border-radius: 5px;

  button {
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    border: 0;
    background-color: var(--purple);
    font-weight: bold;
    color: var(--white);

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }
}