.signInButton {
  height: 2.5rem;
  border-radius: 3rem;
  background-color: transparent;
  border: 0;
  border: 1px solid var(--purple);
  padding: 0 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white);
  font-weight: bold;

  transition: background 0.2s;

  &:hover {
    background-color: var(--purple)
  }
}
